{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <form action="{% url 'contact' %}" method="get">
        <button type="submit">Enter</button>
    </form>
    <div class="shufflebox">
         <img class="shufflebox-image" id="demo"
              src="{% static 'images/i1.png' %}"
              data-images='["{% static "images/i1.png" %}", "{% static "images/i2.png" %}"]'
              alt="Shuffle Image">
    </div>
</body>
</html>